.post-card{
    width: 40vw;
    height: 20vh;
    border: 2px solid gainsboro;
    padding: 1% 2%;
    left: 50%;
    top: 83%;
    position: absolute;
    transform: translate(-50%,-50%) ;
    border-radius: 4px;
}